Package              Version
-------------------- -------------------------
anndata              0.7.5
annoy                1.17.0
argcomplete          1.12.3
argon2-cffi          21.3.0
argon2-cffi-bindings 21.2.0
attrs                21.4.0
backcall             0.2.0
bleach               4.1.0
cached-property      1.5.2
cellrank             1.5.1
cffi                 1.15.0
click                8.0.1
cycler               0.10.0
Cython               0.29.24
debugpy              1.4.3
decorator            5.1.0
defusedxml           0.7.1
docrep               0.3.2
dunamai              1.6.0
entrypoints          0.3
future               0.18.2
get_version          3.5
h5py                 3.4.0
hotspot              0.9.1
imageio              2.9.0
importlib-metadata   4.8.1
importlib-resources  5.4.0
IProgress            0.4
ipykernel            6.4.1
ipython              7.28.0
ipython-genutils     0.2.0
ipywidgets           7.6.5
jedi                 0.18.0
Jinja2               3.0.3
joblib               1.0.1
jsonschema           4.4.0
jupyter-client       7.0.3
jupyter-core         4.8.1
jupyterlab-pygments  0.1.2
jupyterlab-widgets   1.0.2
kiwisolver           1.3.2
legacy-api-wrap      1.2
llvmlite             0.35.0
loompy               3.0.6
MarkupSafe           2.1.0
matplotlib           3.4.3
matplotlib-inline    0.1.3
mistune              0.8.4
natsort              7.1.1
nbclient             0.5.11
nbconvert            6.4.2
nbformat             5.1.3
nest-asyncio         1.5.1
networkx             2.6.3
notebook             6.4.8
numba                0.52.0
numexpr              2.7.3
numpy                1.21.5
numpy-groupies       0.9.14
packaging            21.0
pandas               1.3.5
pandocfilters        1.5.0
parso                0.8.2
patsy                0.5.2
pexpect              4.8.0
pickleshare          0.7.5
Pillow               8.3.2
pip                  22.1.2
POT                  0.8.1.0
progressbar2         4.0.0
prometheus-client    0.13.1
prompt-toolkit       3.0.20
ptyprocess           0.7.0
pycparser            2.21
pygam                0.8.0
Pygments             2.10.0
pygpcca              1.0.3
pyparsing            2.4.7
pyrsistent           0.18.1
python-dateutil      2.8.2
python-igraph        0.8.3
python-utils         3.1.0
pytz                 2021.1
PyWavelets           1.1.1
pyzmq                22.3.0
scanpy               1.8.2
scikit-image         0.18.3
scikit-learn         1.0.2
scipy                1.5.4
scrublet             0.2.3
scvelo               0.2.4
seaborn              0.11.2
Send2Trash           1.8.0
setuptools           41.2.0
setuptools-scm       6.3.2
sinfo                0.3.4
six                  1.16.0
statot               0.0.14
statsmodels          0.12.1
stdlib-list          0.8.0
tables               3.6.1
terminado            0.13.1
testpath             0.6.0
texttable            1.6.4
threadpoolctl        2.2.0
tifffile             2021.8.30
tomli                1.2.1
tornado              6.1
tqdm                 4.62.3
traitlets            5.1.0
typing-extensions    3.10.0.2
umap-learn           0.4.6
venn                 0.1.3
wcwidth              0.2.5
webencodings         0.5.1
widgetsnbextension   3.5.2
wot                  1.0.8.post3.dev8+gca5e94f
wrapt                1.13.3
zipp                 3.5.0

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
