Package                           Version             Location
--------------------------------- ------------------- ------------------------------------------------------------------------------
-illow                            7.0.0
-qdm                              4.47.0
adjustText                        0.7.3
alabaster                         0.7.12
aniso8601                         9.0.1
anndata                           0.7.4
anndata2ri                        1.0.2
annoy                             1.16.3
anyio                             3.2.1
appdirs                           1.4.4
argon2-cffi                       20.1.0
async-generator                   1.10
attrs                             20.3.0
Babel                             2.8.0
backcall                          0.1.0
bbknn                             1.3.9
beautifulsoup4                    4.9.3
bleach                            3.1.3
bokeh                             2.3.1
boto3                             1.17.109
botocore                          1.20.109
bottle                            0.12.18
Brotli                            1.0.9
brotlipy                          0.7.0
bs4                               0.0.1
cachetools                        5.0.0
cairocffi                         1.1.0
cellbender                        0.1                 /mnt/remoteserv/switch/userdata/usrdat03/userdata/cherring/packages/CellBender
certifi                           2021.10.8
cffi                              1.14.0
chardet                           4.0.0
chromedriver-binary               91.0.4472.19.0
chromedriver-py                   87.0.4280.20
click                             7.1.2
colorcet                          2.0.6
conda                             4.11.0
conda-package-handling            1.7.3
cryptography                      3.4.7
cycler                            0.10.0
Cython                            0.29.30
decorator                         4.4.2
defusedxml                        0.6.0
Deprecated                        1.2.10
distlib                           0.3.1
docutils                          0.16
entrypoints                       0.3
enum-tools                        0.6.4
et-xmlfile                        1.1.0
fa2                               0.3.5
fastobo                           0.10.1
fbpca                             1.0
ffq                               0.2.1
filelock                          3.0.12
Flask                             1.1.4
Flask-Compress                    1.10.1
Flask-Cors                        3.0.10
Flask-RESTful                     0.3.9
flask-server-timing               0.1.2
flask-talisman                    0.8.1
flatbuffers                       1.12
flatten-dict                      0.4.0
fonttools                         4.28.3
frozendict                        2.3.4
fsspec                            0.7.4
future                            0.18.2
geckodriver-autoinstaller         0.1.0
geosketch                         1.0
get-version                       2.1
google-api-core                   2.5.0
google-api-python-client          2.37.0
google-auth                       2.6.0
google-auth-httplib2              0.1.0
googleapis-common-protos          1.54.0
gprofiler-official                1.0.0
graphtools                        1.5.2
gunicorn                          20.1.0
h5py                              2.10.0
harmonypy                         0.0.5
holoviews                         1.14.3
hotspot                           0.9.0
html5lib                          1.1
httplib2                          0.20.4
idna                              2.10
igraph                            0.9.11
imageio                           2.8.0
imagesize                         1.2.0
importlib-metadata                0.23
install                           1.3.3
intervaltree                      2.1.0
ipydatawidgets                    4.0.1
ipykernel                         5.2.0
ipython                           7.13.0
ipython-genutils                  0.2.0
ipyvolume                         0.5.2
ipywebrtc                         0.5.0
ipywidgets                        7.5.1
itsdangerous                      1.1.0
jedi                              0.16.0
jgraph                            0.2.1
Jinja2                            2.11.3
jmespath                          0.10.0
joblib                            0.14.1
json5                             0.9.6
jsonschema                        3.2.0
jupyter                           1.0.0
jupyter-client                    6.1.12
jupyter-console                   6.1.0
jupyter-contrib-core              0.3.3
jupyter-core                      4.6.3
jupyter-highlight-selected-word   0.2.0
jupyter-latex-envs                1.4.6
jupyter-nbextensions-configurator 0.4.1
jupyter-server                    1.9.0
jupyterlab                        3.0.16
jupyterlab-pygments               0.1.2
jupyterlab-server                 2.6.0
jupyterthemes                     0.20.0
K3D                               2.9.0
kiwisolver                        1.1.0
legacy-api-wrap                   1.2
leidenalg                         0.8.0
lesscpy                           0.14.0
llvmlite                          0.31.0
loompy                            3.0.6
louvain                           0.6.1
lxml                              4.5.0
Markdown                          3.3.4
MarkupSafe                        1.1.1
matplotlib                        3.5.0
mistune                           0.8.4
mock                              3.0.5
more-itertools                    8.2.0
mpmath                            1.2.1
natsort                           7.0.1
nbclassic                         0.3.1
nbclient                          0.5.3
nbconvert                         6.1.0
nbformat                          5.0.4
nest-asyncio                      1.5.1
networkx                          2.4
notebook                          6.1.1
numba                             0.48.0
numexpr                           2.7.1
numpy                             1.18.2
numpy-groupies                    0+unknown
numpydoc                          1.1.0
NVR                               0.0.6
oauth2client                      4.1.3
openpyxl                          3.0.8
opt-einsum                        3.2.0
packaging                         20.3
pandas                            1.0.3
pandocfilters                     1.4.2
panel                             0.11.3
param                             1.10.1
parso                             0.6.2
patsy                             0.5.1
pcreode                           2.2.0
pexpect                           4.8.0
phate                             1.0.4
pickleshare                       0.7.5
Pillow                            8.2.0
pip                               21.0.1
pipenv                            2020.11.15
pkgconfig                         1.5.2
plotly                            5.4.0
pluggy                            0.13.1
ply                               3.11
progressbar2                      3.53.1
prometheus-client                 0.7.1
prompt-toolkit                    3.0.4
protobuf                          3.19.4
ptyprocess                        0.6.0
py                                1.8.1
py2bit                            0.3.0
pyasn1                            0.4.8
pyasn1-modules                    0.2.8
pyBigWig                          0.3.18
pybiomart                         0.2.0
pycosat                           0.6.3
pycparser                         2.20
pyct                              0.4.8
PyDrive                           1.3.1
pygam                             0.8.0
Pygments                          2.6.1
PyGSP                             0.5.1
pynndescent                       0.5.7
pyOpenSSL                         20.0.1
pyparsing                         2.4.6
pyreadline                        2.1
pyreadr                           0.4.0
pyro-api                          0.1.1
pyro-ppl                          1.3.1
pyrsistent                        0.16.0
pysam                             0.16.0.1
PySocks                           1.7.1
pytest                            5.4.1
python-dateutil                   2.8.1
python-igraph                     0.8.0
python-utils                      2.4.0
pythreejs                         2.2.0
pytz                              2019.3
PyUpSet                           0.1.1.post7
pyviz-comms                       2.0.1
PyWavelets                        1.1.1
PyYAML                            5.4.1
pyzmq                             19.0.0
qtconsole                         4.7.1
QtPy                              1.9.0
quantecon                         0.5.1
requests                          2.25.1
requests-cache                    0.5.2
requests-unixsocket               0.2.0
rpy2                              3.3.3
rsa                               4.8
ruamel-yaml-conda                 0.15.100
s-gd2                             1.8
s3fs                              0.4.2
s3transfer                        0.4.2
scanorama                         1.6
scanpy                            1.6.0
scikit-image                      0.16.2
scikit-learn                      0.22.2.post1
scipy                             1.4.1
scprep                            1.0.8
scrublet                          0.2.1
scTE                              1.0
scvelo                            0.2.2
seaborn                           0.11.1
selenium                          3.141.0
Send2Trash                        1.5.0
session-info                      1.0.0
setuptools                        52.0.0.post20210125
setuptools-scm                    6.3.2
simplegeneric                     0.8.1
sinfo                             0.3.1
six                               1.15.0
sklearn                           0.0
sniffio                           1.2.0
snowballstemmer                   2.0.0
sortedcontainers                  2.1.0
soupsieve                         2.0.1
Sphinx                            3.0.0
sphinx-argparse                   0.2.5
sphinx-autodoc-typehints          1.10.3
sphinx-rtd-theme                  0.4.3
sphinxcontrib-applehelp           1.0.2
sphinxcontrib-devhelp             1.0.2
sphinxcontrib-htmlhelp            1.0.3
sphinxcontrib-jsmath              1.0.1
sphinxcontrib-programoutput       0.16
sphinxcontrib-qthelp              1.0.3
sphinxcontrib-serializinghtml     1.1.4
statsmodels                       0.10.1
stdlib-list                       0.7.0
sympy                             1.8
tables                            3.6.1
tabulate                          0.8.7
tasklogger                        1.0.0
tbb                               2020.0.133
tenacity                          8.0.1
terminado                         0.8.3
testpath                          0.4.4
texttable                         1.6.2
threadpoolctl                     2.2.0
tomli                             1.2.2
torch                             1.4.0
tornado                           6.1
tqdm                              4.60.0
traitlets                         5.0.5
traittypes                        0.2.1
typing-extensions                 3.7.4.3
tzlocal                           2.0.0
umap-learn                        0.4.3
uritemplate                       4.1.1
urllib3                           1.26.4
velocyto                          0.17.17
virtualenv                        20.4.3
virtualenv-clone                  0.5.4
wcwidth                           0.1.9
webencodings                      0.5.1
websocket-client                  1.1.0
Werkzeug                          1.0.1
wheel                             0.36.2
widgetsnbextension                3.5.1
wrapt                             1.12.1
xlrd                              1.2.0
XlsxWriter                        3.0.1
zipp                              3.1.0
